/*
*********LIMPAR FORMATAÇÕES***********
*/
*{
    margin:0;
    padding:0;
    
}

/*
*********LIMPAR HEADER***********
*/
#header{
    background-color: #0066CC;
    padding: 15px; /*um unico numero indica todas as margens, todos os lados,topo, right,bottom, left, */
    text-align: center;
}

#logo, #menu{
    padding: 10px;

}

#header a:link, a:visited{
    color: white;
    padding: 8px 12px;
}
#header a:hover{
    color: #0066CC;
    background: white;
    text-decoration:none;
}

.white{
    color: white;
}
/*
*********CONTENT***********
*/

#content{
    width: 920px;
    margin: 0 auto;
    padding: 15px;

}

#posts{
    width: 660px;
    float: left;
}

.post{
    padding: 20px;
    margin: 20px;
    background: #ffffff;
    text-align: justify;
}
.data-post{
    font-size: 13px;
    border-bottom: 1px solid #0066cc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;

}

/*
*********RIGHT SIDE***********
*/
#right-side{
    width: 240px;
    float: right;
}
.content_right{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}